<section class="footer">
  <footer class="footer__content">
    <i class="fab fa-yandex-international logo"></i>
    <small class="footer__message">Living, Learning and Envolving.</small>
    <div class="footer-content__social-media">
      <a class="social-media__icon" href="https://www.linkedin.com/in/yusy-pezoa-jara-854110189/" target="_blank">
        <i class="fab fa-linkedin-in linkedin"></i>
      </a>
      <a class="social-media__icon" href="https://github.com/YPEZOA" target="_blank">
        <i class="fab fa-github github"></i>
      </a>
      <a class="social-media__icon" href="mailto:ypezoadev@gmail.com">
      <i class="far fa-envelope mail"></i>
      </a>
    </div>
    <small class="social-media__year">Handcrafted by me &copy; 2022</small>
    <small class="social-media__built">Made with <i class="fab fa-angular"></i><p class="built__framework">Angular</p></small>
  </footer>
</section>
