<section class="projects">
  <h1 class="projects__title">
    Projects
  </h1>
  <article class="projects__content">

    <div class="projects-content__box">
      <a href="https://loving-news-app.netlify.app/" target="_blank">
        <img class="content-box__picture" src="assets/images/hacks-news.png" alt="projects-image">
      </a>
      <div class="content-box__text">Hackers News | <br/>
        Application built with <span class="highlighted">Angular 13</span> and REDUX with <span class="highlighted">NGRx.</span> <br/>
        <div class="content-box__external-links">
          <a href="https://loving-news-app.netlify.app/" target="_blank">
            <i class="fas fa-link external-icon"></i>
          </a>
          <a href="https://github.com/YPEZOA/Technologies-api-REDUX-NGRX" target="_blank">
            <img src="assets/images/github-icon.gif" class="github" alt="github"/>
          </a>
        </div>
      </div>
    </div>

    <div class="projects-content__box">
      <a href="https://app-todo-2521cc.netlify.app/" target="_blank">
        <img class="content-box__picture" src="assets/images/todo-app.png" alt="project-image">
      </a>
      <div class="content-box__text">Todo App |<br/>
        Application built with <span class="highlighted">Angular 11</span>, using <span class="highlighted">BehaviorSubject</span> to handle task list.<br/>
        <div class="content-box__external-links">
          <a href="https://app-todo-2521cc.netlify.app/" target="_blank">
            <i class="fas fa-link external-icon"></i>
          </a>
          <a href="https://github.com/YPEZOA/TODO-APP" target="_blank">
            <img src="assets/images/github-icon.gif" class="github" alt="github"/>
          </a>
        </div>
      </div>
    </div>

    <div class="projects-content__box">
      <a href="https://pokemon-app-1.netlify.app/" target="_blank">
        <img class="content-box__picture" src="assets/images/pokemon-app.png" alt="project-image">
      </a>
      <div class="content-box__text">Pokemon List App |<br/>
        All <span class="highlighted">Pokemon</span> list connecting with the <span class="highlighted">PokéApi</span> <br/>
        <div class="content-box__external-links">
          <a href="https://pokemon-app-1.netlify.app" target="_blank">
            <i class="fas fa-link external-icon"></i>
          </a>
          <a href="https://github.com/YPEZOA/PokemonApp" target="_blank">
            <img src="assets/images/github-icon.gif" class="github" alt="github"/>
          </a>
        </div>
      </div>
    </div>

    <div class="projects-content__box">
      <a href="https://rick-and-morty-app-1.netlify.app/" target="_blank">
        <img class="content-box__picture" src="assets/images/rickandmorty-app.png" alt="project-image">
      </a>
      <div class="content-box__text">Rick and Morty App |<br/>
        <span class="highlighted">Rick and Morty</span> character list with pagination and filtering <br/>
        <div class="content-box__external-links">
          <a href="https://rick-and-morty-app-1.netlify.app/" target="_blank">
            <i class="fas fa-link external-icon"></i>
          </a>
          <a href="https://github.com/YPEZOA/Rick-and-Morty-app" target="_blank">
            <img src="assets/images/github-icon.gif" class="github" alt="github"/>
          </a>
        </div>
      </div>
    </div>
    <a href="http://www.github.com/YPEZOA" target="_blank" class="more-projects">
      And more on my GitHub.
    </a>
  </article>
</section>
