.main {
  animation: fadein 5s;
  position: relative;
  .fas {
    cursor: pointer;
    filter: drop-shadow(2px 0px 3px #000);
    font-size: 30px;
    opacity: 0.8;
    position: fixed;
    right: 70px;
    bottom: 10%;
    color: #f2f2f2;
    border-radius: 100%;
    animation: arrowUp 0.7s infinite;
    .up {
      font-family: "Raleway", sans-serif;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrowUp {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: none;
  }
}
