<section class="skills">
  <div class="skills__section-info">
    <p class="section-info__text">
    My ideal is to always look for ways to do things with the <span class="highlighted">best efficiency.</span> Trying to make the user experience better and easier.
    Fanatic of <span class="highlighted">clean</span> and <span class="highlighted">readable code</span>
    </p>
    <article class="section-info__images">
      <img placement="top" ngbTooltip="Angular" class="image__icon" src="assets/images/icon-angular.png" alt="icon.name">
      <img placement="top" ngbTooltip="Typescript" class="image__icon" src="assets/images/icon-typescript.png" alt="icon.name">
      <img placement="top" ngbTooltip="Javascript" class="image__icon" src="assets/images/icon-javascript.png" alt="icon.name">
      <img placement="top" ngbTooltip="React" class="image__icon" src="assets/images/icon-react.png" alt="icon.name">
      <img placement="top" ngbTooltip="HTML" class="image__icon" src="assets/images/icon-html.png" alt="icon.name">
      <img placement="top" ngbTooltip="CSS" class="image__icon" src="assets/images/icon-css.png" alt="icon.name">
      <img placement="top" ngbTooltip="SASS" class="image__icon" src="assets/images/icon-sass.png" alt="icon.name">
      <img placement="top" ngbTooltip="Bootstrap" class="image__icon" src="assets/images/icon-bootstrap.png" alt="icon.name">
      <img placement="top" ngbTooltip="Git" class="image__icon" src="assets/images/icon-git.png" alt="icon.name">
      <img placement="top" ngbTooltip="GitLab" class="image__icon" src="assets/images/icon-gitlab.png" alt="icon.name">
      <img placement="top" ngbTooltip="BitBucket" class="image__icon" src="assets/images/icon-bitbucket.png" alt="icon.name">
      <img placement="top" ngbTooltip="Postman" class="image__icon" src="assets/images/icon-postman.png" alt="icon.name">
    </article>
  </div>
</section>
