@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;800&display=swap");

/* You can add global styles to this file, and also import other style files */
html,
body {
  padding-top: 60px;
}
body {
  scroll-behavior: smooth;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  html,
  body {
    padding-top: 50px;
  }
}

.root {
  background-color: #222222;
}
